.navbar {
  background-color: black;
  color: #efefef;
  button {
    &:hover {
      background-color: rgb(68, 68, 68) !important;
    }

    span {
      color: #efefef !important;
    }
  }
}

.header-logo-container {
  &:hover {
    cursor: default;
  }
}

.header-logo {
  font-size: 20px;
  font-weight: 500;
  font-variant-caps: petite-caps;
}

.shopping-cart-container {
  display: flex;
  align-items: center;
  & span {
    padding-left: 8px;
  }
}
