.container {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.rating-bar {
  display: flex;
  align-items: center;
  border-right: 2px solid lightgrey;
  padding-right: 8px;
}

.rate {
  margin-left: 8px;
  font-size: 16px;
}
